{% extends "layout.html" %}

{% set active_page = "blog" %}

{% block content %}

    <div class="inner-content">
				<div class="blog-page">
					<div class="container">
	                    <div class="row">
			                <div class="col-md-12">

			                    <div class="row">

			                    	<!--Blog-post -->
			                        <div class="col-sm-12 m-b-lg">
			                            <img src="{{ url_for('static', filename=post['image_path']) }}" class="img-responsive">
			                            <div class="blog-desc post-det">
			                                <h3>{{ post['title'] }}</h3>
			                                <div class="post-date"><span>{{ post['date'] }}</span></div>
			                                <p>
			                                    {{ post['text'] }}
			                                </p>
			                            </div><!--blog-desc-->
			                        </div>

			                    </div><!--.row-->

			                    <div class="row">
			                        <div class="col-md-12">
			                        	<div class="text-center">
				                        	<h3 class="title">Recent Comments</h3>
											<span class="subtitle">3 Comments</span>
											<div class="devider"></div>
										</div>

			                            <div class="comment-list">
			                                <img src="images/com-1.jpg" class="img-responsive" alt="">
			                                <h5><a href="#">Melinda</a> On 7 june | <a href="#">Reply</a></h5>
			                                <p>
			                                    Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
			                                </p>
			                            </div><!--comment list-->
			                            <div class="comment-list">
			                                <img src="images/com-2.jpg" class="img-responsive" alt="">
			                                <h5><a href="#">Jolly</a> On 7 june | <a href="#">Reply</a></h5>
			                                <p>
			                                    Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
			                                </p>
			                            </div><!--comment list-->

			                            <div class="comment-list">
			                                <img src="images/com-4.jpg" class="img-responsive" alt="">
			                                <h5><a href="#">Melinda</a> On 7 june | <a href="#">Reply</a></h5>
			                                <p>
			                                    Magnis modipsae que lib voloratati andigen daepeditem quiate ut repore autem labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor.
			                                </p>
			                            </div><!--comment list-->
			                        </div>
			                    </div>

			                    <div class="row">
			                        <div class="col-md-12">
			                        	<div class="leave-comm">
				                        	<div class="text-center">
					                        	<h3 class="title">Leave a Comments</h3>
												<span class="subtitle">Type your Comment below and click to send comment</span>
												<div class="devider"></div>
											</div>
											<div class="row">
			                                    <div class="col-sm-6">
			                                        <input type="text" class="form-control" placeholder="Name..">
			                                    </div>
			                                    <div class="col-sm-6">
			                                        <input type="email" class="form-control" placeholder="Email..">
			                                    </div>
			                                    <div class="col-sm-12">
			                                        <textarea class="form-control" placeholder="Comment.." rows="6"></textarea>
			                                    </div>
			                                    <div class="col-sm-12 text-right">
			                                        <button type="submit" class="btn btn-custom btn-lg">Send Comment</button>
			                                    </div>
			                                </div>
										</div>
									</div>
								</div>

			                </div>
			            </div><!--filter row-->
			        </div>
			    </div>
			</div>

{% endblock %}